<div class="row">
	<div class="col-sm-4">
		<p class="lead">Choose a Delivery Time</p>
	</div>
	<div class="col-sm-8">
		<select id="new_order_time_selection" name="" class="form-control greenBtn tallBtn">
			<option>Selection a Delivery Time</option>
			<option>11:00AM</option>
			<option>11:15AM</option>
			<option>11:30AM</option>
			<option>11:45AM</option>
			<option>12:00PM</option>
			<option>12:15PM</option>
			<option>12:30PM</option>
			<option>12:45PM</option>
			<option>1:00PM</option>
			<option>1:15PM</option>
			<option>1:30PM</option>
			<option>1:45PM</option>
			<option>2:00PM</option>
			<option>2:15PM</option>
			<option>2:30PM</option>
			<option>2:45PM</option>
		</select>
	</div>
	
	<div class="col-sm-4">
		<p class="lead">Choose a Restaurant</p>
	</div>
	
	<div class="col-sm-8">
		<select id="new_order_restaurant_selection" name="" class="form-control greenBtn tallBtn">
			<!-- Swap these out with dynamic locations -->
			<option>Select a Delivery Location</option>
			<option>Jimmy Johns</option>
			<option>Pizza Hut</option>
			<option>Dominos</option>
			<option>Erbert's and Gerbert's</option>
		</select>
		<div class="col-xs-12">
			<i id="newOrder_viewMenu" class="fa fa-greenBtn fa-spoon" title="View Restaurant Menu"></i>
			<i id="newOrder_callRestaurant" class="fa fa-greenBtn fa-phone" title="Call Restaurant"></i>
		</div>
	</div>
	
	<div class="col-sm-4">
		<p class="lead">Choose your Location</p>
	</div>
	
	<div class="col-sm-8">
		<select id="new_order_office_selection" name="" class="form-control greenBtn tallBtn">
			<!-- Swap these out with dynamic locations -->
			<option>Select an Office Location</option>
			<option>Kearney North</option>
			<option>Kearney South</option>
			<option>Ames Old Office</option>
			<option>Ames New Office</option>
			<option>Atlanta</option>
			<option>Fort Collins</option>
			<option>Manhattan</option>
			<option>Pune</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="lead">Order Information</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<textarea id="new_order_info" class="form-control" placeholder="Your Order Information Here"></textarea>
	</div>
	<div class="col-xs-12">
		<input id="new_order_estimated_cost" type="text" class="form-control" placeholder="Estimated Cost $" value="" />
	</div>
	<div class="col-sm-6">
		<button id="new_order_cancel" name="" class="form-control greenBtn tallBtn" type="button">Cancel Order</button>
	</div>
	<div class="col-sm-6">
		<button id="new_order_submit" name="" class="form-control greenBtn tallBtn" type="button">Submit Order</button>
	</div>
</div>